.link-container {
  width: 48%;
  text-decoration: none;
  background-color: #ffffff33;
  border: 1px solid #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 22%;
  padding: 15px;
  box-sizing: border-box;
}

.team-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.team-card-image {
  height: 100px;
  margin-right: 10px;
}

.team-name {
  color: white;
  font-family: 'Bree Serif';
  font-size: 22px;
  text-align: center;
  font-weight: 400;
}
